
PesoPlanetas/\.idea/

PesoPlanetas/target/

David/

furnance-DIP/\.idea/

\.idea/

furnance-DIP/target/

HelloWorld/target/
/.metadata/
/.metadata/

RemoteSystemsTempFiles/

Servers/
/.recommenders/

HelloWorld/

FutureMoodle/target/
